<div class="wrapper">
  <div class="query">
    <form action="/answer" method="get">
      <input type="question" name="question" placeholder="Ask your coach anything" class=form-control>
      <small id="suggestions" class="form-text text-muted">Try: I am going to work</small>
      <br><br>
      <input type="submit" class="btn btn-primary btn-block" input type="submit" value="Ask!">
    </form>
  </div>
</div>
